@import "./index";

.bx--btn {
  @extend .bx--btn;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
  min-height: 2.5rem;
  padding: 0 1rem;
}
.bx--btn--ghost {
  @extend .bx--btn--ghost;
  transition: all $duration--moderate-02 motion(entrance, productive);
  font-weight: bold;
  &:hover,
  &:active {
    color: white;
    background-color: #3d70b2;
  }
}

// .bx--modal-container {
//   border-top: #3d70b2 4px solid;
// }

.bx--tile {
  @extend .bx--tile;
  border: 1px solid #dfe3e6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 0.975rem;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  color: #152935;
  line-height: 1;
}

.bx--row {
  margin: 0 -10px;
}

.bx--col {
  padding: 0 10px;
}

.bx--col-sm-2 {
  padding: 0 10px;
}

.bx--snippet--multi {
  padding: 1rem 0 0;
  margin: 10px 0 0 0px;
  border-color: #d1f1db;
  border-style: solid;
  border-width: thin;
  .bx--snippet-container {
    pre {
      margin-left: 10px;
      overflow-x: hidden;
      white-space: pre-wrap;
    }
  }
}
